/* iCheck plugin Square skin
----------------------------------- */
li#wp-admin-bar-site-name {
  /* margin-left: 260px; */
  width: 160px;
}
#wp-admin-bar-wp-logo {
  display: none;
}
#wpadminbar {
  background: rgba(27, 48, 58, 0.8);
  line-height: 42px;
  height: 42px;
}
#wpadminbar * {
  line-height: 42px;
}
#wpadminbar .ab-label {
  height: 42px;
}
#wpadminbar .quicklinks .ab-empty-item,
#wpadminbar .quicklinks a,
#wpadminbar .shortlink-input {
  height: 42px;
}
#wpadminbar .ab-icon,
#wpadminbar .ab-item:before,
#wpadminbar > #wp-toolbar > #wp-admin-bar-root-default .ab-icon,
.wp-admin-bar-arrow {
  padding: 9px 0;
}
html.wp-toolbar {
  padding-top: 42px;
}
#wpadminbar .quicklinks .ab-top-menu li.group a {
  width: 5em;
  text-align: center;
  border-right: 1px solid #1a465d;
  border-left: 1px solid #95b6c5;
}
#adminmenu {
  display: none;
}
div#wpbody {
  position: relative;
  margin-left: 160px;
}
.folded div#wpbody {
  margin-left: 0px;
}
.folded li#wp-admin-bar-site-name {
  width: 36px;
}
.folded li#wp-admin-bar-site-name a {
  width: 18px;
}
#wpcontent {
  margin-left: 0;
}
